:root {
    --primary-color: #07a4ff73;
    --font1:'Inter', sans-serif;
    --font2:'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--font2);
    font-size: 25px;
    line-height: 35px;
}

button {
    border: none;
    cursor: pointer;
}

.conteiner {
    max-width: 740px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

.tarefas-list {
    font-family: var(--font1);
    font-weight: normal;
    font-size: 20px;
    font-style: italic;
}

.btn {
    border: 1px solid #07a4ff73;
}

.tarefas-list button {
    background: url(../trash-regular-24.png)no-repeat center;
    width: 24px;
    height: 24px;
    margin: 5px 0 0 10px;  
}