.articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: var(--colorWhite);
}

.content {
    height: 70px;
    text-align: center;
}

.articles .title {
    margin: 10px 0;
    text-align: center;
}

.articles .title a {
    text-decoration: solid underline;
    cursor: pointer;
    transition: 0.3s;
}

.content a:hover {
    text-decoration: underline;
    font-size: 36px;
    color: var(--colorWhite);
    background-image: linear-gradient(to right, var(--foreground), #03be80);
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}


.container-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background: var(--colorWhite);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.content-card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px;
}

.content-card h2 {
    text-align: center;
    font-size: 24px;
    margin: 10px 0;
    color: var(--colorBlack);
}

.content-card p {
    text-align: justify;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 8px 0;
    color: var(--colorBlack);
}

.container-cards .card a {
    clear: both;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: none;
    border: 2px solid var(--background);
    color: var(--colorBlack);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.container-cards .card a:hover {
    background: var(--background);
    color: var(--colorBlack);
}

@media (max-width: 768px) {

    .articles {
        /* gap: 8rem; */
    }

    .container-cards {
        flex-direction: column;
        align-items: center;
    }

    .container-cards .card {
        width: 90%;
        margin-top: 30px;
    }

    .title {
        font-size: 1.3rem;
    }

    .content-card img {
        max-height: 250px;
    }

    .content {
        
    }
}
