:root {
    --primary-color: #07a4ff73;
    --font1:'Inter', sans-serif;
    --font2:'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--font2);
    font-size: 25px;
    line-height: 35px;
}

.conteiner {
    max-width: 740px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}
